@import "~normalize.css";
@import "~@blueprintjs/core/lib/css/blueprint.css";
@import "~@blueprintjs/icons/lib/css/blueprint-icons.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bright: #282c34;
}


.App {
  display: flex;
  flex-direction: column;
}

body, #root, .App {
  height: 100vh;
  max-height: 100vh;
  overflow: hidden;
}


.fg {
  background-color: var(--bright);
}

.font-consolas {
  font-family: Consolas;
}

.App-link {
  color: #61dafb;
}


.scrollContainer {
  width: 100%;
  overflow-y: scroll;
}

.scrolllContainer > * {
  min-height: 100%;
}

.main {
  display: flex;
  flex: 1;
  padding: 0.25em;
}
